<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script src="js/vue.js"></script>

</head>
<body>
<div id="app">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">添加品牌</h3>
    </div>

    <div class="panel-body form-inline">
      <label>
        Id:
        <input type="text" class="form-control" v-model="id">
      </label>

      <label>
        Name:
        <input type="text" class="form-control" v-model="name" @keyup.113="add()">
      </label>

      <input type="button" value="add" class="btn btn-primary" @click="add">
      <label>
        Keywords:
        <input type="text" class="form-control" v-model="keywords" v-focus>
      </label>

    </div>

  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ctime</th>
      <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in search(keywords)" :key="item.id">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.ctime | dateFormat()}}</td>
      <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
    </tr>
    </tbody>

  </table>
</div>

<div id="app2" v-color="'pink'" v-fontweight="900" v-fontsize="30">
  {{dt | dateFormat }}
</div>


<script>
  Vue.filter('dateFormat', function (dateStr, pattern = "") {
    let dt = new Date(dateStr);
    // yyyy-mm-dd
    let y = dt.getFullYear();
    let m = dt.getMonth() + 1;
    let d = dt.getDate();


    if (pattern.toLowerCase() == "yyyy-mm-dd") {
      return `${y}-${m}-${d}`
    } else {
      let hh = dt.getHours()
      let mm = dt.getMinutes()
      let ss = dt.getSeconds()
      return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
    }
  })

  // 自定义全局按键修饰符
  Vue.config.keyCodes.f2 = 113;

  Vue.directive('focus', {
    bind: function (el){
      el.focus()
    },
    inserted: function (el) {
      el.focus()
    },
    update: function (){

    }
  })

  Vue.directive('color', {
    bind: function (el, binding){
      el.style.color = binding.value
    },
    inserted: function (el) {

    },
    update: function (){

    }
  })

  let vm = new Vue({
    el: '#app',
    data: {
      id: '',
      name: '',
      keywords: '',
      list: [
        {id: 1, name: 'benchi', ctime: new Date()},
        {id: 2, name: 'baoma', ctime: new Date()},
      ]
    },
    methods: {
      add() {
        this.list.push({id: this.id, name: this.name, ctime: new Date()});
        this.id = '';
        this.name = '';
      },
      del(id) {
        // this.list.some((item, i)=>{
        //   if(item.id == id){
        //     this.list.splice(i, 1);
        //     return true;
        //   }
        // })
        var index = this.list.findIndex(item => {
          if (item.id == id) {
            return true;
          }
        });

        this.list.splice(index, 1);

      },
      search(keywords) {
        // let newList = []
        // this.list.forEach(
        //     item => {
        //       if (item.name.indexOf(keywords) != -1) {
        //         newList.push(item)
        //       }
        //     }
        // )
        let newList = this.list.filter(
            item => {
              if (item.name.includes(keywords)) {
                return item
              }
            }
        )
        return newList;
      },
    }
  })

  let vm2 = new Vue(
      {
        el: "#app2",
        data: {
          dt: new Date(),
        },
        methods: {},
        filters: {
          dateFormat: function (dateStr, pattern = "") {
            let dt = new Date(dateStr);
            // yyyy-mm-dd
            let y = dt.getFullYear();
            let m = (dt.getMonth() + 1).toString().padStart(2,'0');
            let d = (dt.getDate()).toString().padStart(2,'0');


            if (pattern.toLowerCase() == "yyyy-mm-dd") {
              return `${y}-${m}-${d}`
            } else {
              let hh = (dt.getHours()).toString().padStart(2,'0');
              let mm = (dt.getMinutes()).toString().padStart(2,'0');
              let ss = (dt.getSeconds()).toString().padStart(2,'0');
              return `${y}-${m}-${d} ${hh}:${mm}:${ss} ---`
            }
          }
        },
        directives:{
          'fontweight':{
            bind: function (el, binding) {
              el.style.fontWeight = binding.value
            }
          },
          'fontsize':function (el, binding){ // 简写形式，相当于把代码写到了 bind 和 update 中去
            el.style.fontSize = parseInt(binding.value) + 'px'
          }
        }
      }
  )
</script>
</body>
</html>